/* Footer Styles */
.footer-container {
  position: relative;
  display: block;
  width: 100%;
  min-height: 746.406px;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: sans-serif;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
}

.footer-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0);
  background-image: radial-gradient(50% 50%, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%);
  background-attachment: scroll;
  background-clip: border-box;
  background-origin: padding-box;
  background-position-x: 0%;
  background-position-y: 0%;
  background-repeat: repeat;
  background-size: auto;
  opacity: 1;
}

.footer-content {
  position: relative;
  z-index: 3;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
}
